{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <script type="text/javascript" src="{% static 'js/streams.js' %}"></script>
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/main.css' %}">
</head>
<body>
    
    <div class="banner">
        <div class="navbar"><h1> &nbsp;&nbsp;إمد꒦د<br>
            Imdad
             </h1>
            <img src="" class="logo">
            <ul>
                <li><a href="">حولنا</a></li>
                <li><a href="">راسلنا</a></li>
                <li><a href="">البحث</a></li>
                <li><a href="">الدخول</a></li>
                <li><a href="regiester.html">التسجيل</a></li>
                <li><a href="">الرئيسية</a></li>
            </ul>
        </div>
    
        <div class="content">
            <h2> ﴾وَمَنْ أَحْيَاهَا فَكَأَنَّمَا أَحْيَا النَّاسَ جَمِيعاً﴿</h2><br>
            
                <button type="button"><span></span>تبحث عن متبرع</button>
                <button type="button"><span></span>متبرع بالدم</button><br>
            
        </div>

    </div> 
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <center>
            <h3>عدد المتبرعين</h3><br><br>
            <a href=""><strong>اقرأ عن شروط وفوائد التبرع بالدم</strong></a><br><br>
            <a href=""|><strong>المزيد من التفاصيل</strong></a> 
            </center>
            
</body>
</html>